p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24rem;
    color: #595085;
}
.container{margin-bottom: 45rem;}
.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 11rem;   
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10rem;
    
    
    .number{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 24rem;
        margin-top: 18rem;
        margin-bottom: 0;
          
    }   
}
.quest{
    padding: 12rem;
    border-radius: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.quest:nth-child(1) { 
     background: #f6f5fb;
    color: #61598b; 

    

}
.quest:nth-child(2) {  
    background: #fff4f4;
    color: #ff3726;
    
  
    
}
.quest:nth-child(3) {  
    background: #f5f9f9;
    color: #479696; 
    
    
}


.progress {
    background: #fdf9fb;
     justify-content: flex-start;
     border-radius: 15rem;
     align-items: center;
     position: relative;
     padding: 2rem;
     display: flex;
     height: 8rem;
     
    
    }
   
   .progress-value {
     animation: load 3s normal forwards;
     border-radius: 15rem;
    background: #c93f8d;
     height: 8rem;
     width: 0;
   }
   
   @keyframes load {
     0% { width: 0; }
     100% { width: 65%; }
   }
   span {font-weight: 400;
    color: #c93f8d;}