p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #595085;
}
.container{margin-bottom: 45px;}
.item {
    display: flex;
    justify-content: space-between;    
    gap: 11px;   
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    
    
    h2{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 24px;
    
    }   
}
.meditation { 
    background: #f6f5fb;
    color: #61598b; 
    padding: 12px;
    border-radius: 15px;width: 98px;

}
.sleep {  
    background: #fff4f4;
    color: #ff3726;
    padding: 12px;
    border-radius: 15px;width: 98px;
    
}
.mantra {  
    background: #f5f9f9;
    color: #479696; 
    padding: 12px;
    border-radius: 15px;width: 98px;
    
}


.progress {
    background: #fdf9fb;
     justify-content: flex-start;
     border-radius: 15px;
     align-items: center;
     position: relative;
     padding: 2px;
     display: flex;
     height: 8px;
     
    
    }
   
   .progress-value {
     animation: load 3s normal forwards;
     border-radius: 15px;
    background: #c93f8d;
     height: 8px;
     width: 0;
   }
   
   @keyframes load {
     0% { width: 0; }
     100% { width: 65%; }
   }
   span {font-weight: 400;
    color: #c93f8d;}