.box {
    
    }
    .reports {
    }
    .title {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 24rem;
        color: #595085;padding-bottom: 15rem;
    }
    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10rem;
        grid-row-gap: 10rem;
        margin-bottom: 15rem;
    
            &__title {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 12rem;
                padding-top: 10rem;
                padding-bottom: 10rem;
            }
    
            &__desc {
                font-family:"Roboto", sans-serif;
                font-weight: 400;
                font-size: 10rem;
                opacity: 0.5;
            }
    }
    .card {
        padding: 20rem;
        border-radius: 15rem;
    }
    .card:nth-child(1){
    color: #403572;
    background: #f6f5fb;}
    .card:nth-child(2){
    background: #f5f9f9;
    color: #479696;}
    .card:nth-child(3){background: #fff4f4;
    color: #ff5648;}
    .card:nth-child(4){
    background: #fdf9fb;
    color: #c93f8d;} 